@font-face {
  font-family: "Lora", "Serif";
  src: url("https://fonts.googleapis.com/css?family=Lora");
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  background-color:rgb(0, 0, 0);
  overflow-x: hidden;
  z-index: 5;
}


@media(min-width: 1600px) {
.sc-bg{
    position: fixed;
    margin-right: -5em;
    bottom: 0;
    right: 0;
    width: 35em;
    height: 50em;
    background-image: url("./assets/sclarge.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.15;
    transition: opacity 1s;
    z-index: 4;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1600px){
.sc-bg{
    position: fixed;
    margin-right: -15em;
    margin-bottom: -15em;
    bottom: 0;
    right: 0;
    width: 35em;
    height: 50em;
    background-image: url("./assets/sclarge.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.15;
    transition: opacity 1s;
    z-index: 4;
  }
}

.sc-bg:hover{
  opacity: 0.75;
  cursor: pointer;
}

.anim-bg {
  display: flex;
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/glitchfinallooped.gif");
  position: absolute;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  z-index: 999;
}

.entry-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-text {
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  color: rgb(218, 210, 210);
  font-weight: 400;
  font-size: 3em;
}
.enter-text:hover {
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.top-bar {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center top;
  z-index: 100;
}

.top-bar-text {
  font-family: "Lora", "Serif";
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 26px;
  animation: fading 1.5s infinite;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.top-bar-text:hover{
  animation: none;
  cursor: pointer;
}

.footer-container{
  padding-top: 0em;
  padding-bottom: 2em;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  z-index: 98;
  @media (min-width: 768px){
    width: 768px;
    flex-wrap: nowrap;
  };
}

.footer-text{
  font-family: 'Lora';
  color: rgb(255, 255, 255);
}

.main-flex{
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-flex-blackout{
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00 !important;
}


@media (min-width: 1000px){
  .intro-content{
  width: 55rem !important;
  padding: 2em !important;
  padding-bottom: 2em !important;
  margin-right: 16em !important;
  }
}

.intro-content{
  display: block;
  width: 80%;
  padding-bottom: 4em;
}

.intro{

  font-weight: 500;
  font-size: 1.4rem;
  display: flex;
  text-align: left;
  justify-content: left;
  align-content: center;
  align-items: center;
  gap: 0.75em;
  color: #ffffff;
}

@media (min-width: 768px)
  {
    .intro-para{
      font-size: 23px !important;
    }
  }

.intro-para{
  font-family: "Lora";
  font-weight:lighter;
  text-align:left;
  font-size: 18px;
  color:#ffffff;
}
  .intro-para-blackout{
    font-family: "Lora";
  font-weight:lighter;
  text-align:left;
  font-size: 18px;
  color:#ffffff;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }

.main-content{
  height: auto;
  width: 80%;
  
}

.main-content-blackout{
  height: auto;
  width: 80%;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00 !important;

}

.section{
  font-size: 24px;
  font-style: italic;
  width: 100%;
  color: rgba(255, 255, 255, 0.767)
}

.ws-entry-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wps-entry{
  width: 13em !important;
  z-index: 7;
}

.entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 24px;
}


.entry-info{
  font-size: 19px;
  color: rgba(255, 255, 255, 0.767);
  padding: 0em 2em;
  text-align: center;
}

.headshot{
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.headshot-blackout{
  height: 52px;
  width: 52px;
  border-radius: 50%;
  box-shadow: 0 0 25px #00ff00 !important;
}

.standardLogo{
  margin-top: 4px;
  margin-right: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.react-logo{
  margin-top: 4px;
  margin-right: 8px;
  height: 32px;
  width: 32px;
  border-radius: 10%;
}

.crowd-control-logo{
  margin-top: 4px;
  margin-right: 8px;
  height: 28px;
  width: 28px;
}

.cueLogo{
  margin-top: 4px;
  margin-right: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.iarLogo{
  margin-top: 4px;
  margin-right: 8px;
  height: 26px;
  width: 40px;
  border-radius: 50%;
}


.clickableLogos{
  height: 32px;
  width: 32px;
}

.clickableLogos-blackout{
  height: 32px;
  width: 32px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00 !important;
}

.resumeLogo{
  width: 56px;
  height: 43px;
  border-radius: 15%;
}

.githubLogo{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.links{
  text-decoration: none;
  color: #34f604ce;
}

.links:hover{
  color: #27d22f;
}

.links2{
  font-size: 20px;
  text-decoration: none;
  padding: 0.5em 0em;
}

.links3{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.linkedin, .github, .resume{
  transition: transform 0.4s ease;
}

.linkedin:hover, .github:hover, .resume:hover{
  transform: translate(0px, -10px);
  cursor: pointer;
}

.fade-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  animation: fade-in 2s ease-out forwards;
}

.fade-in-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(17, 39, 10), rgb(31, 65, 21, 0));
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 1000px) {
  #spotlight{
    position: fixed;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99;
  }
  }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flex-wrap{
  flex-wrap: wrap;
}
